/* COLORES GENERALES */
:root {
    --azul-oscuro: #1c2331;
    --azul: #455469;
    --azul-claro: #6a7a91;
    --azul-posiblefondo: #A4B0C2;
    --azul-clarito: #E3E8F1;
    --celeste: #58a6ff;
    --blanco: #ffffff;
    --gris-claro: #f5f5f5;
}

/* TIPOGRAFÍA */
body {
    background-color: var(--gris-claro);
    font-family: 'Montserrat', sans-serif;
    color: #333;
    padding-bottom: 100px;
}
/* NOVEDADES */
.fondo_novedad{
    background-color: var(--azul);
    height: 500px; 
    overflow-y: scroll;
}
/* LOCALES */
.fondo_local{
    background-color: var(--azul);
    height: 500px; 
    overflow-y: scroll;
}
.border{
    background-color: var(--azul-claro);

}
/* NAVBAR */
.fondo_Barras {
    background-color: var(--azul);
}

.img_logo {
    width: 80px; /* antes tenías 50px o 15% */
    height: auto;
}

.navbar-nav .nav-link {
    color: var(--blanco);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: var(--celeste);
    text-decoration: underline;
}

/* BOTONES */
.btn {
    font-weight: 500;
    border-radius: 8px;
}

.btn-primary {
    background-color: var(--azul);
    border-color: var(--azul);
}

.btn-secondary{
    background-color: var(--azul-claro);
    border-color: var(--azul);
}

.btn-outline-light:hover {
    background-color: var(--celeste);
    border-color: var(--celeste);
    color: #000;
}

/* CONTENIDO PRINCIPAL */
nav {
    position: sticky;
    top: 0;
}

main {
    margin-top: 100px;  
    margin-bottom: 1000px;  
}


/* FOOTER */
footer {
    background-color: var(--azul-oscuro);
}

footer a {
    color: var(--blanco);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p, footer h5 {
    margin: 0;
}

/* ANIMACIONES */
.hover-subrayado {
    text-decoration: none;
    transition: all 0.2s;
}
.hover-subrayado:hover {
    text-decoration: underline;
}

/*esto es lo q agrego para probar admin*/
.card {
    background-color: #cbd5e1;
    border: none;
    border-radius: 12px;
  }
.btn-custom {
    background-color: #0f172a;
    color: white;
    border-radius: 30px;
 }
